@font-face {
  font-family: "Tilda Sans";
  src:
    url("../fonts/TildaSans-Light.woff2") format("woff2"),
    url("../fonts/TildaSans-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Tilda Sans";
  src:
    url("../fonts/TildaSans-Regular.woff2") format("woff2"),
    url("../fonts/TildaSans-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Tilda Sans";
  src:
    url("../fonts/TildaSans-Medium.woff2") format("woff2"),
    url("../fonts/TildaSans-Medium.woff2") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Tilda Sans";
  src:
    url("../fonts/TildaSans-Bold.woff2") format("woff2"),
    url("../fonts/TildaSans-Bold.woff") format("woff");
  font-weight: 700;
}
